* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* .content {
  max-width: 75%;
} */

.header {
  background-color: #1f2937;
}

.navbar {
  margin: 0 10vw;
  padding: 16px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-stripe {
  /* width: 75%; */
  padding: 75px 0;
}

.content {
  margin: 0 10vw;
  display: flex;
  gap: 3em;
}

.col-1 {
  display: flex;
  flex-direction: column;
}

.col-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

/* .col-2 .col {
  flex: 1;
} */

.col {
  flex: 1;
}

.card-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.infocard {
  box-sizing: border-box;
  text-align: center;
  width: 156px;
}

.img {
  object-fit: cover;
}

.infocard img {
  border: 3px #3882f6 solid;
  border-radius: 15%;
}

.cta {
  padding: 25px 8em;
  border-radius: 10px/10px;
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.center-text {
  text-align: center;
}

.logo {
  max-height: 150px;
}

.bg-light {
  background-color: #e5e7eb;
}

.nav ul {
  margin-top: 0;
  text-decoration: none;
  display: flex;
  gap: 16px
}

.nav li {
  color: #fff;
  list-style: none;
}

.text-light p, .text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6 {
  color: #fff;
}

button {
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  background-color: #3882f6;
  border: none;
}

button.transparent-btn {
  background-color: transparent;
  border: 2px solid #fff;
}

h1 {
  margin-top: 0;
}

.testimonial .quote-text {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  padding: 0 100px;
  margin-bottom: 20px;
  color: #1f2937
}

.testimonial .quote-attribution {
  font-size: 26px;
  font-weight: 700;
  text-align: right;
  margin-top: 0;
  padding-right: 5em;
}